# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

*.xml

*.iml

#coupon-core/

#coupon-consumer/

*.bat

coupon-core/gradlew

coupon-core/gradle/wrapper/gradle-wrapper.properties

coupon-consumer/gradlew

coupon-consumer/gradle/wrapper/gradle-wrapper.properties

gradlew

gradle/wrapper/

.gradle/vcs-1/gc.properties

.gradle/file-system.probe

.gradle/buildOutputCleanup/

.gradle/8.2/checksums/

.gradle/8.2/dependencies-accessors/

.gradle/8.2/fileHashes/

.gradle/8.2/executionHistory/

.gradle/8.2/

coupon-core/src/main/generated/
coupon-api/src/main/generated/
coupon-consumer/src/main/generated/
*.pyc
